body
{
  background-color: plum;
}
/* Submit button */
input[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer
}
  input[type="submit"]:hover 
  {
  background-color: rgb(170, 68, 97)
  }